h1 {
  margin-top: 15px;
}

h2 {
  font-size: 48px;
  margin-top: 20px;
}

.weather {
  border: 1px solid #acacac;
  border-radius: 10px;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  margin: 20px auto;
  max-width: 750px;
  padding: 15px;
  color: #021020;
}

#weather-icon {
  width: 150px;
}

.card {
  word-wrap: normal;
}

.temp {
  font-size: x-small;
  position: relative;
  bottom: 4px;
}

.temp-main {
  font-size: 20px;
  position: relative;
  bottom: 20px;
}

:any-link {
  text-decoration: none;
  color: #0d6efd;
}

#current-button {
  background-color: #d976e2;
  color: #fff;
}

.coder-info {
  text-align: center;
  font-size: small;
}

#description {
  font-size: 22px;
  margin: 0 auto;
  font-weight: 400;
}

#description:first-letter {
  text-transform: capitalize;
}

.weather-info {
  margin-top: 20px;
}
